@model IEnumerable<TVtoppen.Models.db.Program>
@{
    ViewBag.Title = "Hem";
}


<div class="channels">
    <section>
        <h1>SVT 1</h1>        
            <table class="table">               
                @foreach (var item in Model) {
                    if (item.ChannelId == 1)
                    {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>                        
                    </tr>
                    }
                }
            </table>       
    </section>
    <section>
        <h1>SVT 2</h1>
        <table class="table">
            @foreach (var item in Model)
            {
                if (item.ChannelId == 2)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        </table>
        
    </section>
    <section>
        <h1>TV4</h1>
        <table class="table">
            @foreach (var item in Model)
            {
                if (item.ChannelId == 3)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        </table>
    </section>
    <section>
        <h1>TV6</h1>
        <table class="table">
            @foreach (var item in Model)
            {
                if (item.ChannelId == 4)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        </table>
    </section>
    <section>
        <h1>TV10</h1>
        <table class="table">
            @foreach (var item in Model)
            {
                if (item.ChannelId == 5)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.Title) </td>
                        <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    </tr>
                }
            }
        </table>
    </section>    
</div>
